<!DOCTYPE html>
<html lang="en" style="height:100%;">
    <head>
        {{template "head" .}}
    </head>
    <body class="has-background-light" style="min-height:100%;">
        <nav class="navbar is-dark">
            <div class="container">
                <div class="navbar-brand" hx-boost="true">
                    <a href="/" class="navbar-item"> 🌐</a>
                    <a href="/query" class="navbar-item">Query</a>
                    <a href="/tables" class="navbar-item">Tables</a>
                </div>
            </div>
        </nav>

        <div class="container mt-5">
            <div class="columns">
              <!-- 
                <div class="column is-2">
                    <aside class="menu" hx-boost="true">
                        <p class="menu-label">General</p>
                        <ul class="menu-list">
                        <li> <a href="/query">Query</a></li>
                        </ul>

                    </aside>
                </div>
-->
                <div class="column is-10">
                    <div class="box">
                        {{- if .Title}}
                            <h5>{{.Title}}</h5>
                        {{- end}}

                        {{template "query-textarea" .}}
                        {{template "content" .}}
                    </div>
                </div>
            </div>
        </div>

      {{template "footer" .}}
    </body>
</html>

