<!DOCTYPE html>
<html lang="en" style="height:100%;">

<head>
  {{template "head" .}}
</head>

<body class="has-background-light" style="min-height:100%;">
  <nav class="navbar is-dark">
    <div class="container">
        <div class="navbar-brand">
          <a href="/" 
            hx-get="/" 
            hx-target="#result"
            class="navbar-item"> 🌐</a>
        <a href="/tables/meta/ListTables"
            hx-get="/tables/meta/ListTables"
            hx-target="#result"
            class="navbar-item">Tables</a>
        <a href="/tables/meta/ListDatabases"
            hx-get="/tables/meta/ListDatabases"
            hx-target="#result"
            class="navbar-item">Databases</a>
        <a href="/tables/meta/ListDrivers"
            hx-get="/tables/meta/ListDrivers"
            hx-target="#result"
            class="navbar-item">Drivers</a>
        <a href="/history"
            hx-get="/history"
            hx-target="#result"
            class="navbar-item">History</a>
        <a href="/connect"
            hx-get="/connect"
            hx-target="#result"
            class="navbar-item">Connect</a>
      </div>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="columns">
      <!-- 
                <div class="column is-2">
                    <aside class="menu" hx-boost="true">
                        <p class="menu-label">General</p>
                        <ul class="menu-list">
                        <li> <a href="/query">Query</a></li>
                        </ul>

                    </aside>
                </div>
-->
      <div class="column is-10" hx-boost="true">
        <div class="box">
          {{- if .Title}}
          <h5>{{.Title}}</h5>
          {{- end}}

          {{template "query-textarea" .}}
<div id="result">
          {{template "content" .}}
</div>
        </div>
      </div>
    </div>
  </div>

  <noscript>
      <h2 class="title" style="color: red"> This application requires javascript to work. Please enable javascript and try again</h2>
  </noscript>
</body>

</html>
