{{define "query-textarea"}}

<form  hx-post="/query">
  <textarea class="textarea" rows="3" cols="30" hx-post="/query" name="query" hx-target="#result"
    hx-trigger="keyup[altKey&&key=='D'] from:body">{{.Container.Query}}</textarea>
  <!-- TODO keyboard not working, replace with sql editor
https://github.com/codemirror/lang-sql/blob/main/test/test-complete.ts
https://codemirror.net/6/examples/tab/

TODO htmx progress
  -->

  <input class="button" type="submit" value="Query" hx-post="/query" hx-target="#result" hx-trigger="click">

</form>

{{end}}
